input {
	width: 100%;
	text-align: center;
}

input[type="text"] {
	border: 1pxx solid black;
	border-radius: 5px;
}

.calculator {
	margin-top: 15vh;
	margin-left: 30vw;
	margin-right: 30vw;
	background-color: grey;
	border-radius: 10px;
	min-width: 200px;
}

body {
	font-size: 50px;
}